body{
    background-color: #eae9e6;
}
.navbar-shadow{
    box-shadow: 2px 11px 17px -9px rgba(188, 188, 188, 0.75);
}
.addtocart{
    background-color: #333;
    width: 110px;
    text-align: center;
    color: white;
    border-radius: 6px;
}
.addtocart:hover{
    cursor: pointer;
    background-color: #eae9e6;
    border: 1px solid #333;
    color: #333;
}
.discountPercent{
    color: #eae9e6;
    left: 0px;
    top: 0px;
    background-color: #c93937;
    padding-bottom: 50px;
    padding-top: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid rgb(191, 189, 189);
    box-shadow: -1px 8px 5px 0px rgba(86, 86, 86, 0.75);
   
}
.footer{
    box-shadow: 0px 0px 5px 0px rgba(188, 188, 188, 0.75);
    padding-top: 15px;
}
.paginationss{
    text-decoration: none;
    border: 1px solid #1c738c;
    padding: 5px 0px;
    margin: 10px;
    color: #333;
    width: 50px;
    text-align: center;
}
.backbtn{
    background-color: #1c738c;
    text-align: center;
    color: white;
    border-radius: 6px;
}
.backbtn:hover{
    cursor: pointer;
    background-color: #eae9e6;
    border: 1px solid #1c738c;
    color: #1c738c;
}
.category_container{
    overflow-x: scroll;
    scrollbar-width: none;

}

.categorybtn{
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 400;
    background-color: #1c738c;
    text-align: center;
    color: white;
    border-radius: 15px;
    white-space: nowrap;

}
.categorybtn:hover{
    cursor: pointer;
    background-color: transparent;
    color: #333;
    box-shadow: 0px 3px 18px -5px rgba(51,51,51,0.75);
    
}
.loginborder{
    border: 2px solid  #1c738c;
}
.loginborder input{
    border: 1px solid #1c738c;
}
.loginborder input:focus{
    outline: none;
}
.city-img{
    transition: 0.5s;
}

.city-img-card:hover .city-img{
    transform: scale(1.05);
    cursor: pointer;

}
.empty-div{
    position: absolute;
    bottom: 0px;
    height: 0%;
    width: 100%;
    background-color: #333;
    opacity: 0.5;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;
}
.city-img-card:hover .empty-div{
    height: 100%;
}
.city-name{
    position: absolute;
    z-index: 99;
    color: #333;
    bottom: 0px;
    left: 20%;
    font-size: 18px;
    background-color: white;
    padding: 7px 15px;
    border-radius:17px;

}
.wiredimg{
    width: 350px;
    
}
.avatar-container{
    box-shadow: -1px 1px 20px 0px #999b9c;
    border-radius: 10px;
}
.pagelink{
    color:#1c738c ;
}
.stickynav{
position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

}
.carttotal{
    padding: 0px 7px;
    background-color: #1c748cb2;
}
@media only screen and (max-width: 992px) {
    .navlink{
        display: flex;
        flex-direction: column;
        
    }
    .pagelink{
        margin-top: 15px;
    }
    .logoutbtn{
        margin-top: 15px;
    }
    .avatarborder{
        margin-top: 15px;
    }
    .cartbtn{
        margin-top: 15px;
    }
  }

