.formContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navlinksss{
    text-decoration: none;
}
.avatarborder{
    border: 2px solid #1c738c;
    padding: 2px;
    box-shadow: 0px 2px 8px 2px rgba(28,115,140,0.36);
    transition: 0.3s;
}
.avatarborder:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}
.linktoproduct{
    text-decoration: none;
    font-size: 12px;
    color: black;
}
.linktoproduct:hover{
    color: black;
}